@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap');

h1, h2, h3, button, a {
    font-family: 'Comfortaa', cursive;
}
p, input {
    font-family: 'Roboto', sans-serif;
}

/* Nav */
.nav-active {
  color: #FBBF24;
}

/* About */
.about_card-personal {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(245%2c 158%2c 11%2c 1)'%3e%3c/rect%3e%3cpath d='M -419.76172288611644%2c391 C -323.76%2c329.2 -131.76%2c73 60.238277113883534%2c82 C 252.24%2c91 348.24%2c412.6 540.2382771138836%2c436 C 732.24%2c459.4 828.24%2c202 1020.2382771138836%2c199 C 1212.24%2c196 1416.29%2c415.4 1500.2382771138834%2c421 C 1584.19%2c426.6 1452.05%2c265.8 1440%2c227' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -53.672292867525755%2c501 C 42.33%2c431.2 234.33%2c165.6 426.32770713247425%2c152 C 618.33%2c138.4 714.33%2c410 906.3277071324742%2c433 C 1098.33%2c456 1194.33%2c292.6 1386.3277071324742%2c267 C 1578.33%2c241.4 1855.59%2c302.6 1866.3277071324742%2c305 C 1877.06%2c307.4 1525.27%2c284.2 1440%2c279' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -739.0716020990533%2c320 C -643.07%2c275.4 -451.07%2c101.8 -259.0716020990533%2c97 C -67.07%2c92.2 28.93%2c295.4 220.92839790094672%2c296 C 412.93%2c296.6 508.93%2c75.8 700.9283979009467%2c100 C 892.93%2c124.2 1033.11%2c415.2 1180.9283979009467%2c417 C 1328.74%2c418.8 1388.19%2c170.6 1440%2c109' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -419.67188109034464%2c306 C -323.67%2c295.2 -131.67%2c241 60.328118909655366%2c252 C 252.33%2c263 348.33%2c369.6 540.3281189096554%2c361 C 732.33%2c352.4 828.33%2c189.4 1020.3281189096554%2c209 C 1212.33%2c228.6 1416.39%2c489 1500.3281189096554%2c459 C 1584.26%2c429 1452.07%2c139 1440%2c59' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -172.90798065427958%2c454 C -76.91%2c398.2 115.09%2c189.4 307.0920193457204%2c175 C 499.09%2c160.6 595.09%2c399.6 787.0920193457205%2c382 C 979.09%2c364.4 1075.09%2c90.4 1267.0920193457205%2c87 C 1459.09%2c83.6 1712.51%2c348.8 1747.0920193457205%2c365 C 1781.67%2c381.2 1501.42%2c207.4 1440%2c168' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.about_card {
  position: relative;
  animation: 0.25s linear forwards fadeIn;
  transition: cubic-bezier(0.075, 0.80, 0.165, 1);
}
@keyframes fadeIn {
  from {right: 100vw}
  to {right: 0}
}

/* Work */
.project-card:hover .project-card_overlay {
  opacity: 1;
}

/* Contact */
.contact {
  background-image: url('/assets/contact_bg.jpg');
  background-size: cover;
}
.contact_input {
  border: 2px solid #ccc;
}
.contact_input:focus {
  border: 2px solid #333;
}